.people{
    /* display: flex; */
    margin-bottom: 8px;
    margin-top: 30px;
    overflow-x: scroll;
}

.people h2 {
    margin-bottom: 8px;
}

.people-list{
    /* margin-top: 30px; */
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

.people::-webkit-scrollbar{
    display: none;
}

.people img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
 }

@media (max-width:500px) {
    .people{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .people h2{
        font-size: 17px;
    }
    .people img{
        width: 125px;
    }
    .people-list{
        margin-bottom: 10px;
    }
}